<div kcd-recompile="should.refreshTable" use-boolean>
	<table datatable="ng" class="row-border hover">
		<thead>
		<tr>
			<th>Protected User</th>
			<th>Date Protected</th>
			<th>Controls</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="user in protectedUsers">
			<td>{{ user.username }}</td>
			<td>{{ user.on | date:'medium' }}</td>
			<td><a ng-click="deleteProtection(user)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a></td>
		</tr>
		</tbody>
	</table>
</div>